* {
	box-sizing: border-box;	
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 18px;
   line-height: 34px;
   color: #777;
   	background-image: url("../images/diamond_upholstery_@2X.png");

}

.container {
	width: 100%;
	margin:0 auto;
	max-width: 960px;
	clear: both;
	
}
#masthead {
	background: #fff;
	margin: 0 0 30px;
	color: #fff;
	z-index: 99;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%

}
#logo {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	float: left;
	text-align: center;
	line-height: 90;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-color: #fff; 
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;

}

nav{
	float: right;
	margin-top: 25px;
	color:silver;
	
}

nav a {
	color: silver;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	padding-left: 15px;
	line-height: 18px;

}

/*main container*/

#main-container 
{
	padding-top: 130px;

}

#main-section {
	background: #fff;
	padding: 30px;
	margin:0 0 40px 0;
	width: 100%;
	max-width: 650px;
	float:left;
	border: 1px solid #ddd;
	
}


#bio-image{
	width: 200px; 
	height: auto;
	padding-right: 8px;
	float: left;
	margin-top: 10px
	margin-right: 25px;
}

/*sidebar*/
#sidebar{
	width: auto;
	float: right;
	padding: 30px;
	max-width: 270px;
	border: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin-bottom: 15px;
	background-color: #fff;
}

footer {
	background-color: #666666;
	text-align: center;
	clear: both; 
	padding: 20px;	
	border-top: solid;
	border-width: 6px;
	border-color: #4aaaa5;
	color: #ccc;
	font-size: 12;

	position: relative;
	z-index: 99;
	align-content: bottom; 

}

hr { 
    display: block;left
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

h1, h2, h3, p {
	margin-bottom: 20px;
}

h1, h2, h3{
	font-family: 'Georgia', Times, times new Roman, serif;
	color: #4aaaa5;
	font-weight: 700;

}
h1 {
	color: #fff;
	font-size: 30px;
	line-height: 29px;
	padding: 30px;

}

h2 h3 {
	font-size: 25px;
	color: #4aaaa5;
}


p {
	line-height: 31px;
	text-indent: 25px;	
}

a {
    color: #4aaaa5;
    text-decoration: none;
}


/*portfolio page - Full Width*/
.work {
	width: 240px;
	float: left;
	overflow: all; 
	position: relative;
	
	margin:20px 0 25px;
}

.work:nth-child(even) {

	margin-left: 60px;
}

.work img {
	width: 264px;
	height: auto;

}

.work h3 {
		color: #fff;
		background: #4aaaa5;
		line-height: 30px;
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: 20px;
		margin-bottom: 0;
		border-bottom: 0;
		padding-top: 15px;
		padding:15px;
		font-weight: 400;	

	}


/*contact page*/


input, textarea {
	color: silver;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%
}

input[type=message] {
	height: 200px;
}

input[type=submit] {
	background-color: #4aaaa5;
	border: none;
	font-size: 16px;
	color: white;
	padding-top: 10px ;
	padding-bottom: 10px;
	width: 125px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


img.pix-size {
	width: 100%;
	height: auto;
}

form {
	color: gray;
	}


/*media query to resize the content based on screen size*/

@media screen and (max-width: 980px) {
	.container {
		max-width: 860px;
		width: 100%;
	}
	#main-container{
		max-width:860px;
		width: 100%;
	}	
	#main-section{
		max-width:560px;
		width: 100%;
	
	}
	#sidebar{
		max-width: 220px;
		width: 100%;
	}

	/*portfolio part of the page 980 width*/
	.work {
		margin-left: 0px;
		clear: both;
	}

	.work img,
	.work h3 {
		max-width: 498px;
		width: 498px;
		height: auto;
		float: left;
		/*visibility: hidden;*/
	}
	.work:nth-child(even) {
	margin-left: 0px;
	float: left;
	
	}


}
@media screen and (max-width: 768px ) {
	.container {
	max-width: 700px;
	width: 100%;
	}
	#main-container {
	max-width:700px;
	width: 100%;
	margin:0 auto;
	}	
	#main-section{
		max-width:700px;
		width: 100%;
	
	}
	#sidebar{
		max-width:700px;
		float: left;
		width: 100%;
	
	}

	/*portfolio page max 768 wide*/
	/*.work {
			max-width: 350%;
			width: 300px;
			margin-left: 0px;
			float: left;
		}*/

	.work img,
	.work h3 {
		width: 250px;
		
	}

	.work:nth-child(even) {
		clear: right;
		margin-left: 50px;
	}
	
}

@media screen and (max-width: 640px ) {
	#masthead {
		position: relative;

	}

	.container {
	max-width: 640px;
	width: 100%;
	}
	
	#logo {
		width: 100%;
		height: 60px;

	}

	#masthead .container #nav a:first-child { 
    	margin-left: 165px;

	
		
	}

	h1 {
	padding:15px;
	font-size: 22px;
	margin:0;	
	}

	#nav {
		margin: 0 auto;
		background: white;
		width: 100%;


	}

	#main-container{
		   padding-top: 25px;
		   max-width: 600px;
	}
	/*portfolio page for <640 size screens*/
	.work {
		margin-left: 0px;
		/*clear: both;*/
	}

	.work img,
	.work h3 {
		max-width: 530px;
		width: 300%;
		height: auto;
		float: left;

		/*visibility: hidden;*/
	}
	.work:nth-child(even) {
	margin-left: 0px;
	clear: left;
	
	}

}
